body {
    font-family: 'Times New Roman', Times, serif;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
    color: white;
}

.container-fluid1 {
    text-align: center;
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    /* display: flex; */
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

.bg-light1 {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

.aasd {
    font-size: 50px;
    color: white;
}

.aasd1 {
    font-size: 57px;
}

.span-title-box {
    font-size: xx-large;
}

.a-color {
    background-color: rgb(173, 173, 173);
    border: white;
}

.font-size-colori-ttl {
    font-size: xx-large;
}