* {
    box-sizing: border-box;
}

body {
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 25px;
    margin: 20px;
    padding: 20px;
    /* background-color: rgb(17, 15, 12); */
    background-image: url("../images/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* all about navbar */

header {
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}


/* page name */

.div-navbar-tag {
    font-size: x-large;
    color: #D4AF37;
}

.spam-1 {
    font-size: xx-large;
    color: #D4AF37;
}


/* all about center of the page */

.ash1 {
    /* background-color: white;
    color: tomato;
    font-size: xx-large; */
    clear: both;
    margin: 20px;
}

.ash2 {
    /* background-color: white;
    color: tomato;
    font-size: xx-large; */
    float: left;
    width: 33.3%;
    height: 300px;
    padding-top: 200px;
}

.ash3 {
    /* background-color: white;
    color: tomato;
    font-size: xx-large; */
    width: 33.3%;
    float: left;
    height: 300px;
    padding-top: 200px;
}


/* list main */

.list-holder {
    float: left;
    width: 33.3%;
    text-align: center;
    padding-top: 200px;
    font-size: 40px;
    line-height: 70px;
    color: #FFB404;
}


/* getting style a tags in list main */

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.alinka {
    color: #ffb3009a;
}


/* all about footer */

.ash5 {
    /* background-color: white;
    color: tomato;
    font-size: xx-large; */
    clear: both;
    margin: 20px;
    padding-top: 250px;
    margin: 150px;
}

.footer-holder {
    padding: 20px;
    clear: both;
    margin-top: 40px;
    text-align: center;
    font-size: x-large;
}


/* getting style to the list */

.li-1-footer {
    float: left;
    width: 20%;
    background-color: #ffb40410;
}

.li-2-footer {
    float: left;
    width: 20%;
    background-color: #ffb40410;
}

.li-3-footer {
    float: left;
    width: 20%;
    background-color: #ffb40410;
}

.li-4-footer {
    float: left;
    width: 20%;
    background-color: #ffb40410;
}

.li-5-footer {
    float: left;
    width: 20%;
    background-color: #ffb40410;
}


/* getting style to the a ta in list in footer */

.socialicon1 {
    color: #FFB404;
}

.socialicon2 {
    color: #FFB404;
}

.socialicon3 {
    color: #FFB404;
}

.socialicon4 {
    color: #FFB404;
}

.socialicon5 {
    color: #FFB404;
}